.Sidenav {
  border: solid 4px;
  display:flex;
  flex: 0 0 300px;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.SideNavTitle {
  text-align: center;
  font-size: larger;
  border-bottom: solid 2px;
  background-color: gainsboro;
}

.UserListElement {
  border-bottom: solid 2px;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.YourUserElement {
  background: linear-gradient(90deg, gainsboro, mediumseagreen );
}

.OtherUserElement {
  background: linear-gradient(90deg, gainsboro, #7f9ab4 );
}


.UnorderedList {
  padding-left: 0;
}

