/*.SidenavWrapper {*/
  /*border: solid 4px;*/
  /*!*display:flex;*!*/
  /*flex: 0 0 300px;*/
  /*flex-direction: column;*/
  /*!* background-color: aquamarine; *!*/
/*}*/

.SideNavTitle {
  text-align: center;
  font-size: x-large;
  height: 44px;
  border-bottom: solid 4px;
  background-color: gainsboro;
}

.SideNavBackground {
  height:100%;
}

.UserListElement {
  border-bottom: solid 2px;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.YourUserElement {
  background: linear-gradient(90deg, gainsboro, mediumseagreen );
}

.OtherUserElement {
  background: linear-gradient(90deg, gainsboro, #acd3f2 );
}

.ThirdUserElement {
  background: linear-gradient(90deg, gainsboro, lightpink );
}


.UnorderedList {
  padding-left: 0;
}

