.MessageBubble {
  font-size: medium;
  padding: .4em .6em;
  word-wrap: break-word;
  white-space: normal;
  max-width: 36vw;
  text-align: left;
  display: inline-block;
  border-radius: 10px;
  border: solid 1.5px;
}

.GreenPill {
  background-color: mediumseagreen;
  display: inline-block;
}

.BluePill {
  background-color: steelblue;
  display: inline-block;
}

.MessageBubbleContainerRight {
  display: block;
  margin: .2em;
  text-align: right;
}

.MessageBubbleContainerLeft {
  display: block;
  margin: .2em;
  text-align: left;
}

.Icon {
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  vertical-align: middle;
}

