.Inline {
  display: inline;
}

.ChatInput{
}

.FullWidth {
  width: 100%;
}

.FlexContainer {
  display: flex;
  flex-direction: row;
}

.FlexInput {
  flex: 0 0 auto;
}

.FlexButton {
  flex: 0 0 30px;
}

.Input {
  height: 60px;
  font-size: larger !important;
}

.SendButtons {
  width: 120px;
}

.Icon {
  padding-left: 10px;
}